@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
a:hover {
    color: green;
}

a:visited {
    color: #51894c;
}

a {
    text-decoration: none;
}

nav a:visited {
    color: white;
}

nav a {
    color: white;
}

nav a:hover {
    font-weight: bold;
}

body {
    padding: 0px;
    margin: 0px;
}


header {
    color: white;
    background-color: #ff5a34;
}

main {
    padding: 16px;
    margin-bottom: 30px;
}

footer {
    background-color: #b5cf66;
    position:fixed;
    bottom:0;
    height:30px;
    width: 100%;
    padding-top: 24px;
    padding-bottom: 24px;
}

img {
    height: 200px;
}

nav {
    border-bottom: 1px solid black;
    padding: 16px;
}

.recipe_list_container {
    display: inline-flex;
}

.recipe_box {
    display: inline-block;
    
}

.page_title {
    color: #146152;
}

tr:nth-child(even) {
    background-color: lightgray;
}